@charset "utf-8";
/* CSS Document */

html {
	background: url(photos/bgwallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

body {
	 
	
}

h1.logo{
	float: left;
	padding: 1px;
}

section {
	float: left;
	padding-left: 80px;
	padding-bottom: 200px;
}

section a{
	background-color: limegreen;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

section p {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
}


section h1 {
	font-size: 30px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}


.footer { 
	
	padding-bottom: 5px;
	padding-top: 10px;
	
	position: fixed;
	left: 0;
   	bottom: 0;
	right: 0; 
	width: 100%;
	
	background-color: white;
	opacity: 0.8; 
	filter: alpha(opacity=80);
	text-align: center;
}

footer pre{
	padding-bottom: 10px;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	width: 100%;
}

li { 
	display: inline;
	float: right;
	border: 1px solid #bbb;
}

li a { 
	display: block;
	text-align: center; 
	text-decoration: none;
	color: white;
	padding: 8px;
}

li a:hover { 
	background-color: grey;
	color: black;
}

li a, .dropbtn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
	background-color: black;
	color: white; 
	
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: black;
	color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* TO ADJUST */
/* Slider image
	Text Arrangement & Size
	Images to be smaller 
*/
@media only screen and (min-width:1281px) { 
	body {
	
	}
}

@media (min-width:480) and (max-width:767px){
	body {

	}
}
@media (min-width:768px) and (max-width:1024px){
	body {

	}
}